<li class="list-item list-group-item" data-player-mbid="{{mbid}}">
	<div class="row">
		<div class="col-left col-xs-3">
			<div class="img-content">
				<img class="img-responsive" src="{{image1}}" width="48" height="48"/>
			</div>
		</div>
		<div class="col-right col-xs-7">
		<h2 class="text-bold">{{name}}</h2>
			<h3>
				{{#artistIsObject}}
				{{artist.name}}
				{{/artistIsObject}}
				{{^artistIsObject}}
				{{artist}}
				{{/artistIsObject}}
			</h3>
		</div>
		<div class="col-xs-2">
			<span class="remove glyphicon glyphicon-remove"></span>
		</div>
	</div>
</li>